<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.task3.dao.AuthorMapper">
  <resultMap id="BaseResultMap" type="com.jnshu.task3.common.bean.Author">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tel" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="status" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="create_at" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="update_at" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="created_by" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, tel, img, content, type, status, create_at, update_at, created_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from author
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBystatusAndName" resultMap="BaseResultMap">
    select * from author
    <where>
      <if test="status != null">
        status=#{status}
      </if>
      <if test="name != null">
        and name=#{name}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from author
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jnshu.task3.common.bean.Author">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into author (id, name, tel, 
      img, content, type, 
      status, create_at, update_at, 
      created_by)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=BIGINT}, 
      #{img,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT}, #{create_at,jdbcType=BIGINT}, #{update_at,jdbcType=BIGINT}, 
      #{created_by,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnshu.task3.common.bean.Author">
    update author
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=BIGINT},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="create_at != null">
        create_at = #{create_at,jdbcType=BIGINT},
      </if>
      <if test="update_at != null">
        update_at = #{update_at,jdbcType=BIGINT},
      </if>
      <if test="created_by != null">
        created_by = #{created_by,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>